<%= stylesheet_link_tag("metallic") %>
<script type="text/javascript">
  
  function editTournament(tournamentID){
    window.location = '/edit_tournament/' + tournamentID;
  }

</script>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Add/Edit Tournament</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        New Tournament
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <% if flash[:notice] %>
              <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <%= flash[:notice] %>
              </div>
            <% end %>
            <form role="form" action="/admin/create_tournament">
              <div class="form-group">
                <label>Tournament Name</label>
                <input class="form-control" placeholder="Tournament Name" name="name" required/>
              </div>

              <div class="form-group">
                <label>Start Date</label>
                <input class="form-control date-picker" placeholder="Start Date" name="start_date" required/>
              </div>

              <div class="form-group">
                <label>End Date</label>
                <input class="form-control date-picker" placeholder="End Date" name="end_date" required/>
              </div>

              <div class="form-group">
                <label>Sponsored By</label>
                <input class="form-control" placeholder="Sponsored by" name="sponsor" required/>
              </div>

              <!--<div class="form-group">
                <label>Profile Pic</label>
                <input type="file"/>
              </div>-->

              <button type="submit" class="btn btn-default">Submit Button</button>
              <button type="reset" class="btn btn-default">Reset Button</button>
            </form>
          </div>

        </div>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Registered Tournaments(<%=  @tournaments.count %>)
      </div>
      <div class="row">
        <div class="col-lg-12">
          <br />
          <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Tournament Name</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Sponsored By</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% count = 0 %>
                    <% @tournaments.each do |tournament| %>
                      <tr>
                        <td><%= count= count + 1 %></td>
                        <td><%= tournament.name %></td>
                        <td><%= tournament.start_date %></td>
                        <td><%= tournament.end_date %></td>
                        <td><%= tournament.sponsored_by %></td>
                        <td><button onclick="editTournament('<%= tournament.tournament_id %>')" class="btn btn-warning btn-block" type="button">Edit</button></td>
                        <td><button class="btn btn-danger btn-block" type="button">Delete</button></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->

        <!-- /.col-lg-6 -->
      </div>
    </div>

  </div>

</div>

<!-- /.row -->
