<script type="text/javascript">
  var tournementID = '<%= params[:tournament_id] %>'
  function addTourneyParticipants(){
    window.location = '/add_tourney_participants/' + tournementID;
  }

  function addTourneyCompetitions(){
    window.location = '/add_tourney_competitions/' + tournementID;
  }

  var currentUserID = '';
  function confirmAction(obj){
    currentUserID = obj.getAttribute("userid")
    nickName = obj.getAttribute("nick_name");
    document.getElementById("nick_name").innerHTML = nickName;
    $('#myModal').modal('show');
  }

  function deleteUser(){
    jQuery.ajax({
      type: "POST",
      url: "/admin/delete_participant_from_tourney",
      data: "userid=" + currentUserID + "&tournament_id=" + tournementID,
      success: function(){
        window.location = '/select_tourney/' + tournementID
      }

    });
  }

  var currentCompetitionID = '';
  function competitionConfirmAction(obj){
    currentCompetitionID = obj.getAttribute("competition_id")
    competitionName = obj.getAttribute("competition_name");
    document.getElementById("competition_name").innerHTML = competitionName;
    $('#competitionModal').modal('show');
  }

  function deleteCompetition(){
    jQuery.ajax({
      type: "POST",
      url: "/admin/delete_competition_from_tourney",
      data: "competition_id=" + currentCompetitionID + "&tournament_id=" + tournementID,
      success: function(){
        window.location = '/select_tourney/' + tournementID
      }

    });
  }

  function editCompetition(competitionID){
    window.location = '/edit_tourney_competition/' + competitionID + '/' + tournementID;
  }
  
</script>
<style>
  #nick_name, #competition_name{
    font-weight: bold;
  }
</style>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= @tournament.name %></h1>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Participants (<%= @tournament_participants.count %>)
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Phone #</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>NickName</th>
                <th style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <% count = 0 %>
              <% @tournament_participants.each do |participant| %>
                <tr>
                  <td><%= count = count + 1 %></td>
                  <td><%= participant.phone_number %></td>
                  <td><%= participant.first_name %></td>
                  <td><%= participant.last_name %></td>
                  <td><%= participant.nick_name %></td>
                  <td><button nick_name="<%= participant.nick_name %>"userid="<%= participant.user_id %>" onmousedown="confirmAction(this);" class="btn btn-danger btn-block" type="button">Delete</button></td>
                </tr>
              <% end %>

            </tbody>
          </table>
        </div>
        <button onclick="addTourneyParticipants();" class="btn btn-primary pull-right">Add Participants</button><br />
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Competitions (<%= @tournament_competitions.count %>)
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Competition Name</th>
                <!--<th>Required Votes</th>-->
                <th>Start Date</th>
                <th>End Date</th>
                <th style="text-align: center;"colspan="2">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% count = 0 %>
              <% @tournament_competitions.each do |competition| %>
                <tr>
                  <td><%= count = count + 1 %></td>
                  <td><%= competition.name %></td>
                  <!--<td><%= competition.max_votes %></td>-->
                  <td><%= competition.start_date %></td>
                  <td><%= competition.end_date %></td>
                  <td><button onmousedown="editCompetition(<%= competition.voting_type_id %>)" class="btn btn-warning btn-block" type="button">Edit</button></td>
                  <td><button competition_name="<%= competition.name %>" competition_id="<%= competition.voting_type_id %>" onmousedown="competitionConfirmAction(this);" class="btn btn-danger btn-block" type="button">Delete</button></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <button onclick="addTourneyCompetitions();" class="btn btn-primary pull-right">Add Competitions</button><br />
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
</div>


<!--CONFIRMATION POPUP BEGIN -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          Delete Confirmation
        </h4>
      </div>
      <div class="modal-body">
        <span style="text-align:center;">You are about to delete <span id="nick_name"></span> from the tournament. You can not undo this action. Are you really very sure?</span>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="deleteUser();" data-dismiss="modal">Okay</button>
          <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--CONFIRMATION POPUP END -->

<!--CONFIRMATION POPUP BEGIN -->
<div class="modal fade" id="competitionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          Delete Confirmation
        </h4>
      </div>
      <div class="modal-body">
        <span style="text-align:center;">You are about to delete <span id="competition_name"></span> from the tournament. You can not undo this action. Are you really very sure?</span>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="deleteCompetition();" data-dismiss="modal">Okay</button>
          <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--CONFIRMATION POPUP END -->