<script type="text/javascript">
  var tournamentID = '<%= params[:tournament_id] %>';
  var competitionsHash = JSON.parse('<%= @competition_hash.to_json %>');
  var usersHash = JSON.parse('<%= @users.to_json %>');
  var competition_and_voters = JSON.parse('<%= @competition_and_voters.to_json %>');
  var competition_and_winners = JSON.parse('<%= @competition_and_winners.to_json %>');

  function viewParticipants(){
    jQuery.ajax({
      type: "POST",
      url: "/home/render_tournament_participants",
      data: "tournament_id="+ tournamentID,
      success: function(results){
        results = eval('(' + results + ')');
        html = '<div class="list-group">';

        for (var i in results){
          firstName = results[i]["first_name"];
          lastName = results[i]["last_name"];
          nickName = results[i]["nick_name"];
          phoneNumber = results[i]["phone_number"];
          html += '<a class="list-group-item" href="#">';
          html += '<i class="fa"></i>' + firstName + ' ' +  lastName;
          html += '<span class="pull-right small"><em>' + phoneNumber + '</em></span>'
          html += '</a>'
        }

        html += '</div>';

        $('.view').html(html);

      }

    });
  }

  function viewResults(){
    jQuery.ajax({
      type: "POST",
      url: "/home/render_tournament_results",
      data: "tournament_id="+ tournamentID,
      success: function(results){
        results = eval('(' + results + ')');
        html = '<div class="list-group">';

        for (var i in results){
          firstName = results[i]["first_name"];
          lastName = results[i]["last_name"];
          nickName = results[i]["nick_name"];
          result = results[i]["result"];

          html += '<a class="list-group-item" href="#">';
          html += '<i class="fa"></i>' + firstName + ' ' +  lastName;
          html += '<span class="pull-right small"><em>' + result + '</em></span>'
          html += '</a>'
        }

        html += '</div>';

        $('.view').html(html);
      }

    });
  }

  function viewPredictions(){
    jQuery.ajax({
      type: "POST",
      url: "/home/render_tournament_predictions",
      data: "tournament_id="+ tournamentID,
      success: function(results){
        results = eval('(' + results + ')');
        html = "<table class='table table-striped table-bordered table-hover'>";
        for (var competitionID in results){
          competitionName = competitionsHash[competitionID];
          html += '<tr style="text-align: center;">';
          html += '<td> Competition Name: <span style="font-weight: bold;">' + competitionName + '</span></td>';
          html += '</tr>';

          for (var voterID in results[competitionID]){
            votersName = usersHash[voterID];
            console.log("Voter Name = " + votersName)
            votes = results[competitionID][voterID];

            my_votes = []
            for (var i=0; i<= votes.length - 1; i++){
              participantName = usersHash[votes[i]];
              my_votes.push(participantName)
            }
            html += '<tr>';
            html += '<td>' + '<span style="font-weight: bold;">'  + votersName + ' : </span><i>' + my_votes.join(', ') + '</i></td>';
            html += '</tr>';

          }
        }
        html += '</table>';

        $('.view').html(html);
      }

    });
  }

  function enablePredictionsConfirm(){
    jQuery('#enablePredictions').modal('show');
  }

  function activatePredictions(){
    jQuery.ajax({
      type: "POST",
      url: "/admin/enable_tournament_for_predictions",
      data: "tournament_id="+ tournamentID,
      success: function(results){
        window.location = '/tournament_details/' + tournamentID;
      }
    });
  }

  function disablePredictionsConfirm(){
    jQuery('#disablePredictions').modal('show');
  }

  function deactivatePredictions(){
    jQuery.ajax({
      type: "POST",
      url: "/admin/disable_tournament_for_predictions",
      data: "tournament_id="+ tournamentID,
      success: function(results){
        window.location = '/tournament_details/' + tournamentID;
      }
    });
  }

  function selectPredictionsWinners(){
    jQuery('#competitionModal').modal('show');
  }

  var competitionID;

  function loadCompetitionVoters(obj){
    competitionID = obj.getAttribute('competition_id')
    jQuery('#competitionModal').modal('hide');
    competition_id = obj.getAttribute('competition_id');
    voters = competition_and_voters[competition_id];
    winners = competition_and_winners[competition_id];
    
    html = '<div class="row">';
    html += '<div class="col-lg-6">';
    html += '<div class="table-responsive">';
    html += '<table class="table table-striped table-hover primary-table">';
    html += '<thead><tr><th colspan="3" style="text-align: center;">Voters Minus Winners</th></tr></thead>';
    html += '<tbody class="voters">';

    count = 1;
    for (var user_id in voters){
      first_name = voters[user_id]["first_name"];
      last_name = voters[user_id]["last_name"];
      nick_name = voters[user_id]["nick_name"];

      html += '<tr id="' + user_id + '"><td class="voter_index">' + count + '</td><td>' + first_name + ' ' + last_name + '</td><td style="text-align: center; cursor: pointer;" onmouseup="selectVoter(this)"><span userid="' + user_id + '" class="fa fa-angle-double-right"></span></td></tr>';
      count = count + 1
    }

    html += '</tbody>';
    html += '</table>';
    html += '</div>';
    html += "</div>";

    html += '<div class="col-lg-6">';
    html += '<div class="table-responsive">';
    html += '<table class="table table-striped table-hover sortable">';
    html += '<thead><tr><th colspan="3" style="text-align: center;">Winners</th></thead>';
    html += '<tbody class="voters winners">';

    for (var position in winners){
      first_name = winners[position]["first_name"];
      last_name = winners[position]["last_name"];
      nick_name = winners[position]["nick_name"];
      user_id = winners[position]["user_id"];
      html += '<tr><td class="winner_index">' + position + '</td><td>' + first_name + ' ' + last_name + '</td><td style="text-align: center; cursor: pointer;" onmouseup="selectVoter(this)"><span userid="' + user_id + '" class="fa fa-angle-double-left"></span></td></tr>';
    }

    html += '</tbody>';
    html += '</table>';
    html += '</div>';
    html += "</div>";

    html += "</div>";

    html += '<center><button onclick="saveWinners();" class="btn btn-primary">Save Button</button>&nbsp;';
    html += '<button onclick="cancelEvent();" class="btn btn-danger">Cancel Button</button></center>';

    $('.view').html(html);
  }

  function cancelEvent(){
    window.location = '/tournament_details/' + tournamentID;
  }

  function selectVoter(obj){
    var $btn = $(obj);
    $item = $btn.closest('tr');
    $otherTable = $('.voters').not( $btn.closest('tbody'));
    $item.fadeOut(function(){
      $btn.find('span').toggleClass('fa-angle-double-right fa-angle-double-left')
      $(this).find('td').eq(0).toggleClass('voter_index winner_index')
      $otherTable.append($item);
      $item.fadeIn();

      $('.primary-table td.voter_index').each(function(i, el){
        $(this).html(i + 1);
      })

      $('.sortable td.winner_index').each(function(i, el){
        $(this).html(i + 1);
      })
    });

    jQuery(".sortable tbody").sortable({
      helper: fixHelperModified,
      stop: updateIndex
    }).disableSelection();
  }

  var fixHelperModified = function(e, tr) {
    var $originals = tr.children();
    var $helper = tr.clone();
    $helper.children().each(function(index) {
      $(this).width($originals.eq(index).width())
    });
    return $helper;
  },
  updateIndex = function(e, ui) {
    $('td.winner_index', ui.item.parent()).each(function (i) {
      $(this).html(i + 1);
    });
  };

  function saveWinners(){
    spanElements = $('.winners').find("span");
    if (spanElements.length >= 1){
      winners_data = document.getElementById("winners_data")
      if (winners_data) winners_data.parentNode.removeChild(winners_data);

      form = document.createElement('form');
      form.action ='/home/create_winners';
      form.method = 'POST'
      form.id = 'winners_data';

      for (var i=0; i <= spanElements.length - 1; i++){
        userid = spanElements[i].getAttribute("userid");
        createInput(form, 'text', "winners_ids[]", userid);
      }

      createInput(form, 'text', "competition_id", competitionID);
      createInput(form, 'text', "tournament_id", tournamentID);
      document.getElementsByTagName('body')[0].appendChild(form);
      form.submit();
    }else{
      jQuery()
    }
  }

  function createInput(form, type, name, value){
    input = document.createElement('input');
    input.type = type
    input.value = value
    input.name = name
    form.appendChild(input)
  }

</script>
<%
if @tournament.open_for_votes == true
  tournament_status = 'Open for Predictions';
  color = 'green'
else
  tournament_status = 'Closed for Predictions';
  color = 'red';
end
%>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= "#{@tournament.name} (#{@tournament.start_date.to_date.strftime('%d/%b/%Y') rescue @tournament.start_date} - #{@tournament.end_date.to_date.strftime('%d/%b/%Y') rescue @tournament.end_date})" %> <span style="font-size:12pt; color: <%= color %>; font-weight: bold;"><%= tournament_status %></span></h1>  
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bell fa-tasks"></i> Select Task
      </div>
      <div class="panel-body">
        <div class="list-group">

          <a class="list-group-item" href="#" onclick="viewParticipants();">
            <i class="fa fa-eye"></i> View Participants
          </a>

          <a class="list-group-item" href="#" onclick="viewResults();">
            <i class="fa fa-eye"></i> View Results
          </a>

          <a class="list-group-item" href="#" onclick="viewPredictions();">
            <i class="fa fa-eye"></i> View Predictions
          </a>

          <% if @tournament.open_for_votes == false %>
            <a class="list-group-item" href="#" onclick="enablePredictionsConfirm();">
              <i class="fa fa-thumbs-o-up"></i> Enable Predictions
            </a>
          <% else %>
            <a class="list-group-item" href="#" onclick="selectPredictionsWinners();">
              <i class="fa fa-unsorted"></i> Select Prediction Winners
            </a>

            <a class="list-group-item" href="#" onclick="disablePredictionsConfirm();">
              <i class="fa fa-lock"></i> Disable Predictions
            </a>
          <% end %>
        </div>

        <a href="/" class="btn btn-default btn-block">Home</a>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-columns"></i> View
      </div>

      <div class="panel-body view">

      </div>

    </div>

  </div>

  <!-- /.col-lg-4 -->
</div>

<!-- Modal -->
<div class="modal fade" id="enablePredictions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Enable Predictions</h4>
      </div>
      <div class="modal-body">
        This will enable the tournament for predictions. Are you really sure about this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, Am Not Sure</button>
        <button onclick="activatePredictions()" type="button" class="btn btn-primary">Yes, Am Sure</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="disablePredictions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Disable Predictions</h4>
      </div>
      <div class="modal-body">
        This will disable the tournament for predictions. Are you really sure about this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, Am Not Sure</button>
        <button onclick="deactivatePredictions();" type="button" class="btn btn-primary">Yes, Am Sure</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--CONFIRMATION POPUP BEGIN -->
<div class="modal fade" id="competitionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          Select Competition
        </h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <%  @tournament.competitions.each do |competition| %>
            <a onclick="loadCompetitionVoters(this);" competition_id="<%= competition.voting_type_id %>" href="#" class="list-group-item">
              <i class="fa fa-star-o"></i> <%= competition.name %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--CONFIRMATION POPUP END -->

<!-- Modal -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Disable Predictions</h4>
      </div>
      <div class="modal-body">
        This will save the selected individuals as winners. Are you really sure about this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, Am Not Sure</button>
        <button onclick="saveWinners();" type="button" class="btn btn-primary">Yes, Am Sure</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->