<script type="text/javascript">
  function cancelEvent(){
    window.location = "/user_profile";
  }
  
</script>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Profile Edit</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        My Profile
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <% if flash[:notice] %>
              <div class="alert alert-success alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <%= flash[:notice] %>
              </div>
            <% end %>
            <form role="form" action="/users/update_my_profle" method="POST">
              <div class="form-group">
                <label>Phone #</label>
                <input class="form-control" placeholder="Phone #" name="phone_number" value="<%= @user.phone_number %>" required="true"/>
              </div>

              <div class="form-group">
                <label>First Name</label>
                <input class="form-control" placeholder="First Name" name="first_name" value="<%= @user.first_name %>" required="true"/>
              </div>

              <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" placeholder="Last Name" name="last_name" value="<%= @user.last_name %>" required="true"/>
              </div>

              <div class="form-group">
                <label>Nick Name</label>
                <input class="form-control" placeholder="Nick Name" name="nick_name" value="<%= @user.nick_name %>" required="true"/>
              </div>

              <button type="submit" class="btn btn-primary">Submit Button</button>
              <button type="reset" class="btn btn-warning">Reset Button</button>
              <button type="button" onmousedown="cancelEvent();" class="btn btn-danger">Cancel Button</button>
            </form>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>

<!-- /.row -->